<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{file-upload
		url="http://www.google.com"
		onFileuploadadd="onFileuploadadd"
		onFileuploadalways="onFileuploadalways"
		onFileuploadchange="onFileuploadchange"
		onFileuploadchunksend="onFileuploadchunksend"
		onFileuploadchunkdone="onFileuploadchunkdone"
		onFileuploadchunkfail="onFileuploadchunkfail"
		onFileuploadchunkalways="onFileuploadchunkalways"
		onFileuploaddone="onFileuploaddone"
		onFileuploaddragover="onFileuploaddragover"
		onFileuploaddrop="onFileuploaddrop"
		onFileuploadfail="onFileuploadfail"
		onFileuploadprogress="onFileuploadprogress"
		onFileuploadprogressall="onFileuploadprogressall"
		onFileuploadpaste="onFileuploadpaste"
		onFileuploadsend="onFileuploadsend"
		onFileuploadsubmit="onFileuploadsubmit"
		onFileuploadstart="onFileuploadstart"
		onFileuploadstop="onFileuploadstop"
		autoUpload=false}}